.partners{
    width: 30vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 300px;
    text-align: center;
}

@media (max-width:1235px){
    .partners{
        width:50vw;
    }
}

@media (max-width: 700px){
    .partners{
        width: 60vw;
    }
}

@media (max-width: 600px){
    .partners{
        padding: 0;
        width: 90vw;
    }
}

.partners__list{
    list-style: none;
    display: flex;
    font-size: 1.4em;
}

@media (max-width: 450px){
    .partners__list{
        flex-direction: column;
        padding: 0
    }
}

.partners__list__item{
    margin: 0 10px 0 10px;
    padding: 0;
    flex:1;
    text-align: center;
}

@media (max-width: 450px){
    .partners__list__item{
        margin: 20px 0;
    }
}

@media (max-width: 300px){
    .partners__list__item{
        margin:0 0 13px 0;
    }
}