.top{
    margin:0;
    width:100vw;
    display: flex;
    height: 100px;
    background: rgba(0,0,0,.4);
    position: fixed;
    justify-content: space-between;
    padding: 0 8vw;
    align-items: center;
    z-index: 1;
}

.top__logo{
    text-decoration: none;
    font-size: 3em;
    color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.top__navigation{
    display: flex;
    list-style: none;
    line-height: 2em;
}

@media (max-width:1040px){
    .top__navigation{
        display:none;
    }
}

.top__navigation__item{
    margin: 0 20px;
}

.top__navigation__item--link{
    text-decoration: none;
    color: transparent;
    font-size: 1.4em;
    background: linear-gradient(45deg, white, black);
    background-size: 1000%;
    background-clip: text;
    background-position: left;
    border-bottom: 2px solid transparent;
    transition: background-position 1s;
}

.top__navigation__item--link:hover{
    border-bottom: 2px solid black;
    background-position: right;
}

.top__menu_burger{
    display: none;
    min-width: 60px;
    height: 10px;
    background-color: #f8f8f8;
    position: relative;
    cursor: pointer;
}

.top__menu_burger::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 10px;
    background: #f8f8f8;
    top: 20px;
}

.top__menu_burger::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 10px;
    background: #f8f8f8;
    top: -20px;
}

@media (max-width:1040px){
    .top__menu_burger{
        display:block;
    }
}